@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    background-color: green;
  }
}

.rangeSlider .range-slider .range-slider__thumb {
  @apply bg-primary;
}

.rangeSlider .range-slider .range-slider__range {
  @apply bg-primary/80;
}

.zero-inset {
  inset: 0;
}

.zero-inset-after::after {
  inset: 0;
}

.leaflet-popup-content-wrapper {
  @apply border-l-8 border-primary rounded-md shadow-md p-0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  @apply flex items-center w-56 h-24 p-1 m-0;
}

@media (min-width: 640px) {
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    height: 6rem;
  }
}

@layer utilities {
  @media (max-width: 640px) {
    .inset-notification {
      inset: 0;
    }

    .rangeSlider .range-slider .range-slider__thumb {
      @apply bg-primary/80;
    }
    .gridAreas {
      grid-template-areas:
        "."
        "element1"
        "element2";
    }

    .detailsPageMinScreen {
      width: 100%;
      /* height: calc(100vh - 53px); */
      height: auto;
      display: grid;
      /* grid-template-rows: repeat(auto, minmax(auto, 1fr)); */
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-rows: 17rem auto 17rem;
      grid-template-columns: repeat(10, minmax(1rem, 1fr));
      grid-template-areas:
        "."
        "element1"
        "element2";
      grid-auto-flow: column;
      padding: 0;
    }

    .mapMinScreen {
      grid-area: element2;
      background-color: #fff;
      margin-top: 0;
      width: 100%;
      overflow: clip;
      grid-column: 1 / -1;
      /* grid-row: 14 / -1;  */
    }

    .rightMinScreen {
      grid-area: element1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding: 1rem 1rem 0 1rem;
      border-radius: 1rem 1rem 0 0;
      gap: 1rem;
      grid-column: 1 /-1;
      /* grid-row: 4 /14; */
      /* transform: translateY(17rem); */
      /* margin-top: 17rem; */
    }
  }

  .wobble {
    animation: wobble 1s ease-in-out infinite;
  }

  .wobble:active {
    animation: shrink 1s ease-in-out infinite;
  }

  @keyframes wobble {
    0% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
    100% {
      transform: rotate(1deg);
    }
  }

  @keyframes shrink {
    0% {
      transform: scale(0.95);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.95);
    }
  }

  .active {
    background-color: green;
  }

  .hotelList a.active {
    @apply bg-primary text-white  transition-all duration-500;
  }

  .grad {
    background-image: radial-gradient(
      /* 185.44deg, */ from rgb(234 88 12 / 1),
      to rgba(247, 240, 235, 0)
    );
    background-image: linear-gradient();
  }

  .areaElement {
    grid-area: element1;
  }
}

@layer base {
  * {
    @apply box-border;
    scrollbar-width: none;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-drag: non e;
    -moz-user-select: none;
    -moz-user-drag: none;
    position: relative;
  }

  ::-webkit-scrollbar {
    appearance: none;
    width: 0;
    height: 0;
  }

  body {
    @apply h-screen;
  }

  #root {
    @apply h-full;
  }

  html {
    @apply text-gray-800;
    font-family: "Poppins";
    scroll-behavior: smooth;
  }

  input {
    @apply border-none outline-none;
  }

  button {
    @apply outline-none;
  }

  img {
    @apply w-full h-full object-cover;
  }

  .active {
    background-color: green;
  }
}

.active > div::before {
  content: "";
  @apply absolute border-primary border-2 h-[90%] -translate-x-2 rounded-full transition-all duration-300;
}

.navItem::before {
  content: "";
  @apply h-2 transition-all duration-300;
}
